<ion-header no-border>
    <ion-toolbar>
        <ion-title color="secondary">
            Radio group issue
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ng-container *ngIf="(productObs | async) as products">
        <app-radio-group-output (emitEvent)="eventEmitted($event)" [productVariants]="products"></app-radio-group-output>
    </ng-container>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-item lines="none">
            <ion-label>
                <div style="color:wheat;font-size:25px;">Total</div>
            </ion-label>
            <ion-label slot="end" class="ion-text-right">
                <div style="color:wheat;font-size:25px;"><span margin-right-20>{{totalTime ? totalTime : '0'}}
            min</span><span>{{totalPrice ? totalPrice : '0'}}</span></div>
            </ion-label>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button class="ion-text-uppercase" expand="block" color="medium" (click)="back()">Back
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-text-uppercase" expand="block" color="medium" (click)="cancelModal()">Cancel
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="ion-text-uppercase" expand="block" [disabled]="!totalTime && !totalPrice" (click)="goToBooking3()">
                    Continue </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>